option_settings:
    aws:elasticbeanstalk:container:php:phpini:
        document_root: /public
    aws:elasticbeanstalk:application:environment:
        MYPARAMETER: parametervalue
        APP_NAME: "Itkan LMS"
        APP_ENV: "production"
        APP_ENV_p: "local"
        APP_KEY: "base64:VuQEFSeSCd3HD1hv8NPH7011Pohy4nktseskOEnHsZQ="
        APP_DEBUG: "false"
        APP_URL: "http://localhost"
        APP_SYNC: false
        LOG_CHANNEL: stack

        BROADCAST_DRIVER: log
        CACHE_DRIVER: file
        QUEUE_CONNECTION: redis
        SESSION_DRIVER: file
        SESSION_LIFETIME: 120

        BANK_NAME: "Banck Name"
        BRANCH_NAME: "Branch Name"
        ACCOUNT_NUMBER: "account number"
        ACCOUNT_HOLDER: "Itkan LMS"
        ACCOUNT_TYPE: "Current Account"



